%article.keyword-category

  %ul.breadcrumb.row
    %li
      = link_to t('nav.keyword_categories.index'), keyword_categories_path
      %span.divider /
    %li.active
      = t('nav.keyword_categories.edit')

  %header.page-header.row
    %h1.pull-left
      = t('.title')

  = render :partial => 'form'

