%article.keyword-category
  %header
    %h1= resource.name
  %ul
    - resource.keywords.each do |keyword|
      %li= link_to keyword.name, keyword_path(keyword)
  = link_to t('new_keyword'), new_keyword_path(keyword_category_id: resource.id)

