%article.sheet.new

  %ul.breadcrumb
    %li
      = link_to t('nav.sheets.index'), search_index_path
      %span.divider /
    %li
      = link_to resource.title, sheet_path(resource)
    %li.active
      %span.divider /
      = t('nav.sheets.edit')

  = render :partial => 'form'

