<article class='keyword'>

  <ul class='breadcrumb row'>
    <li>
      <%= link_to t('nav.keywords.index'), keywords_path %>
      <span class='divider'>/</span>
      <li class='active'>
        <%= t('nav.keywords.new') %>
      </li>
    </li>
  </ul>

  <header class='page-header row'>
    <h1 class='pull-left'><%= t('.title') %></h1>
  </header>

  <%= render :partial => 'form' %>

</article>
