// Example using journal bootswatch
//
// First import journal variables
@import "bootswatch/simplex/variables";

// Then bootstrap itself
@import "bootstrap";

// Bootstrap body padding for fixed navbar
body { padding-top: 60px; }

// Responsive styles go here in case you want them
@import "bootstrap-responsive";

// And finally bootswatch style itself
@import "bootswatch/journal/bootswatch";

// Whatever application styles you have go last
@import "base";

